* {
    box-sizing: border-box;
    padding-bottom: 0px;
}

body {
    margin: 0;
    font-family: Calibri, sans-serif;
    background-color:cornsilk;
}

div {


}

a:link, a:visited,  a:hover, a:active
{
    color: white;
    text-decoration: none;
}

nav {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    border: 1px black solid;
    padding: 0px;
    flex-wrap: wrap;
    z-index: 2;
    position: fixed;
    width: 100%;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

nav li {
    padding: 1em;
    width: 200px;
}



#banner {
    position: relative;
    text-align: center;
    color: white;
    font-size: 26px;
}

#banner > img {
    width: 100%;
    max-height: 500px;
}

#banner > h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0 ,0 ,0.1);
}

#intro {
    display: flex;
    margin: 1rem;
    background-color:cornsilk;
    margin: 0;
}

#intro > img {
    padding: 25px;
    max-width: 100%;
}

#intro > span {
    margin: 10px;
    padding: 25px;
}

#talchum {
    display: flex;
    margin: 1rem;
    background-color:papayawhip;
    margin: 0;
}

#talchum > img {
    padding: 25px;
    max-width: 100%;
}

#talchum > span {
    margin: 10px;
    padding: 25px;
    max-width: 100%;
}

#shimcheong {
    margin: 1rem;
    background-color: peachpuff;
    margin: 50px;
    padding: 2rem;
}

#shimcheong > span {
    margin: 10px;
    padding: 25px;
}

#shimcheong i {
    font-size: 80%;
    color: darkgreen;
}

#shimcheong > #sc-img {
    display: flex;
    width: calc(100%/3 - 2rem);
    margin: 1rem;
}

#sc-img > img {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
}


@media only screen and (max-width: 600px) {
    .desktop-only {
        display: none;
    }
    #intro {
        flex-wrap: wrap;
    }
    #talchum {
        flex-wrap: wrap;
    }
    #shimcheong > #sc-img {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .mobile-only {
        display: none;
    }
}