* {
    box-sizing: border-box;
    padding-bottom: 0px;
}

body {
    margin: 0;
}

div {
    

}

nav {
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    border: 1px black solid;
    padding: 0px;
    flex-wrap: wrap;
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

nav li {
    padding: 1em;
    width: 200px;

}

@media only screen and (max-width: 600px) {
    .desktop-only {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .mobile-only {
        display: none;
    }
}

#banner {
    position: relative;
    text-align: center;
    color: white;
    font-size: 18px;
}

#banner > img {
    width: 100%;
}

#banner > h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro {
    display: flex;
    margin: 1rem;
}

#intro > p {
    margin: 10px;
    padding: 25px;
}

#members > div {
    padding: 1rem;
    border: solid 1px black;
    /* width: calc(33% - 2rem); */
    width: calc(100%/5 - 2rem);
    float: left;
    margin: 1rem;
    color: black;

}

#members div:first-child {
    background-color: #C21E56;
}

#members div:nth-child(2) {
    background-color: #EEB211;
}

#members div:last-child {
    background-color: #6C3082;
}